<div class="container">
  <div class="row">
    <h2>SignUp</h2>
  </div>
  <div class="row justify-content-around">
    <form
      class="mb-3 p-2 border border-dark rounded"
      #signUpForm="ngForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-floating mb-4">
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          ngModel
          #name="ngModel"
          placeholder="UserName"
          required
        />
        <label for="name">User Name</label>
        <div class="alert-danger" *ngIf="name.invalid && name.touched">
          Please choose a username.
        </div>
      </div>

      <div class="form-floating mb-4">
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          ngModel
          #email="ngModel"
          placeholder="UserName"
          required
        />
        <label for="email">Email</label>
        <div class="alert-danger" *ngIf="email.invalid && email.touched">
          Must be a valid email adress
        </div>
      </div>

      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          ngModel
          #password="ngModel"
          placeholder="Password"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*\W)(?=.*[A-Z]).{8,}"
          required
        />
        <label for="password">Password</label>
        <div class="alert-danger" *ngIf="password.invalid && password.touched">
          password must be 8 digits long with at least one digit, one uppercase
          latter and one nonalphnumeric symbol
        </div>
      </div>
      <div class="text-center">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="signUpForm.invalid"
        >
          SignUp
        </button>
        <p *ngIf="isSuccess === true" class="alert-success">
          new user created successfully
        </p>
        <p *ngIf="isSuccess === false" class="alert-danger">
          Unable to register rechack your details
        </p>
      </div>
    </form>
  </div>
</div>
