.card-body,.card{
  height: 100%;
}
.flex-row{
  display: flex;
  align-items: center;
  justify-content: center;

}
.alert-warning{
  margin-bottom: 1rem;
}
.h3{
  padding-left: 8rem;
}
h4,h5{
  text-align: center;
}
.card{
  z-index: 2;
}
.card-body{
  z-index: 2;
}
.class-bg{
min-width: 100%;
min-height: 100%;
position: absolute;
opacity: 0.2;
z-index:1
}

.attacker{
  background-image: url(src\app\shared\img\swords.png);

}
.defender{
  background-image: url(src\app\shared\img\shield.png);
}
