<div class="container">
  <div class="row">
    <h2>SignIn</h2>
  </div>
  <div class="row justify-content-around">
    <form
      class="mb-3 p-2 border border-dark rounded"
      #signInForm="ngForm"
      (ngSubmit)="onSubmit(signInForm)"
    >
      <div class="form-floating mb-4">
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          ngModel
          #name="ngModel"
          placeholder="UserName"
          required
        />
        <label for="name">Username</label>
        <div class="alert-danger" *ngIf="name.invalid && name.touched">
          Please enter your username.
        </div>
      </div>

      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          ngModel
          #password="ngModel"
          placeholder="Password"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*\W)(?=.*[A-Z]).{8,}"
          required
        />
        <label for="password">Password</label>
        <div class="alert-danger" *ngIf="password.invalid && password.touched">
          Invalid Password.
        </div>
      </div>
      <div class="text-center">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="signInForm.invalid"
        >
          Signin
        </button>
      </div>
    </form>
  </div>
</div>
